#enterText{
    margin: 0;
}
#message{
    margin: 0;
}
#wombo{
    height: 500px;
    width: 300px;
    overflow-y: auto;
    background-color: rgb(240, 219, 99);
    margin-top: 10px;
    margin-right: 0;
}

#integer{
    margin-bottom: 20px;
}